.home-sidebar {
  position: fixed;
  top: 50%;
  left: var(--offset-sidebar-left);
  z-index: 2;
  display: none;
  width: var(--sidebar-width);
  transform: translateY(-50%);
}

@media (min-width: 68.75rem) {
  .home-sidebar {
    display: flex;
  }
}
