.project-sidebar {
  position: fixed;
  top: var(--inset-site-controls);
  left: var(--inset-site-controls);
  z-index: 2;
  display: none;
  width: var(--sidebar-width);
}

@media (min-width: 68.75rem) {
  .project-sidebar {
    display: block;
  }
}
