.project-sidebar {
  position: fixed;
  top: var(--padding-page);
  left: var(--offset-sidebar-left);
  z-index: 2;
  display: none;
  width: var(--sidebar-width);
}

@media (min-width: 68.75rem) {
  .project-sidebar {
    display: block;
  }
}
